@import "utilities.css";
:root {
  --primary: #90eff6;
  --dark: #161616;
  --pure: #ffffff;
  --gray: #c0bebe;
  --chek: #45d5c4;
  --make: #719de6;
}
* {
  /* background-color: var(--dark); */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smotthing: antialiased;
}
body {
  font-family: "poppins", sans-serif;
}
header {
  background: var(--gray);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 85%, 0 100%);
  margin: 0rem 2rem 0rem 2rem;
}
.container {
  max-width: 1152px;
  padding: 0 15px;
  margin: 0 auto;
}
.hero .left img {
  width: 400px;
}
.hero .right {
  color: var(--pure);
  margin-left: 25px;
  margin-right: 30px;
}
.hero .right h5 {
  font-size: 1.6rem;
  color: var(--primary);
  font-weight: 100;
}
.hero .right h1 {
  font-size: 4rem;
  font-weight: 100;
  line-height: 1;
  margin-bottom: 1.6rem;
}
.hero .right h1 div {
  color: var(--primary);
}
.hero .right p {
  color: var(--dark);
  line-height: 1.9;
  margin: bottom 2rem;
  /* height: 50px; */
  /* width: 100%; */
}
.all {
  cursor: pointer;
  margin-right: 25px;
}
.all:hover {
  transform: scale(1.2);
}
/* 
@media only screen and(min-width:600px){
    grid: ;
} */
